<%= form_with(model: bollywood, local: true) do |form| %>
  <% if bollywood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bollywood.errors.count, "error") %> prohibited this bollywood from being saved:</h2>

      <ul>
      <% bollywood.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question, id: :bollywood_question %>
  </div>

  <div class="field">
    <%= form.label :opta %>
    <%= form.text_field :opta, id: :bollywood_opta %>
  </div>

  <div class="field">
    <%= form.label :optb %>
    <%= form.text_field :optb, id: :bollywood_optb %>
  </div>

  <div class="field">
    <%= form.label :optc %>
    <%= form.text_field :optc, id: :bollywood_optc %>
  </div>

  <div class="field">
    <%= form.label :optd %>
    <%= form.text_field :optd, id: :bollywood_optd %>
  </div>

  <div class="field">
    <%= form.label :correctans %>
    <%= form.text_field :correctans, id: :bollywood_correctans %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
