<%= form_with(model: cricket, local: true) do |form| %>
  <% if cricket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cricket.errors.count, "error") %> prohibited this cricket from being saved:</h2>

      <ul>
      <% cricket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :question %>
    <%= form.text_field :question, id: :cricket_question %>
  </div>

  <div class="field">
    <%= form.label :opta %>
    <%= form.text_field :opta, id: :cricket_opta %>
  </div>

  <div class="field">
    <%= form.label :optb %>
    <%= form.text_field :optb, id: :cricket_optb %>
  </div>

  <div class="field">
    <%= form.label :optc %>
    <%= form.text_field :optc, id: :cricket_optc %>
  </div>

  <div class="field">
    <%= form.label :optd %>
    <%= form.text_field :optd, id: :cricket_optd %>
  </div>

  <div class="field">
    <%= form.label :correctans %>
    <%= form.text_field :correctans, id: :cricket_correctans %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
